### The Simplest form of Blending using the approach followed in Kaggle kernel

In [1]:
import sys
import logging
import math
import re

import glob
import os
import sys

import pandas as pd
import numpy as np

import matplotlib
import matplotlib.pyplot as plt

from sklearn.preprocessing import StandardScaler, MinMaxScaler, Normalizer

pd.options.display.max_rows = 1000
pd.options.display.max_columns = 1000

%matplotlib inline

matplotlib.style.use("Solarize_Light2")

sys.path.insert(0, "/opt/vssexclude/personal/kaggle/k_tab_aug")

In [2]:
%load_ext autoreload
%autoreload 2
%config Completer.use_jedi = False

In [3]:
import src.config.constants as constants
import src.munging as process_data
import src.viz as viz
import src.common as common
import src.config.tsfresh_config as tsfresh_config

In [4]:
logger = common.get_logger("blend")

In [5]:
train_df, test_df, sample_submission_df = process_data.read_processed_data(
    logger,
    constants.PROCESSED_DATA_DIR,
    train=True,
    test=True,
    sample_submission=True,
)

[INFO]2021-08-28 12:50:45,522:blend:Reading Data from /opt/vssexclude/personal/kaggle/k_tab_aug/data/processed...
[INFO]2021-08-28 12:50:45,690:blend:Shape of train_df : (250000, 101)
[INFO]2021-08-28 12:50:45,803:blend:Shape of test_df : (150000, 100)
[INFO]2021-08-28 12:50:45,809:blend:Shape of sample_submission_df : (150000, 1)

In [8]:
# File with public score
df_sub_ext = pd.read_csv(f"{constants.PUB_SUBMISSION_DIR}/0.part")

In [9]:
df_lgb_log_loss_top_10 = pd.read_csv(f"{constants.SUBMISSION_DIR}/sub_lgb_ts_f1_weighted_SK_10_top_50_features_0825_1755_0.08395.csv")

In [10]:
df_sub_ext.head()

       id      loss
0  250000  8.408537
1  250001  5.092826
2  250002  9.090190
3  250003  8.006694
4  250004  6.851722

In [11]:
df_lgb_log_loss_top_10.head()

       id  loss
0  250000     3
1  250001     0
2  250002     0
3  250003     0
4  250004     7

In [12]:
sample_submission_df.loss = (0.9 * df_sub_ext.loss + 0.1 * df_lgb_log_loss_top_10.loss).values

In [13]:
sample_submission_df.head()

            loss
id
250000  7.867683
250001  4.583544
250002  8.181171
250003  7.206025
250004  6.866550

In [36]:
sample_submission_df.to_csv(f"{constants.SUBMISSION_DIR}/dummy_sub.csv")

In [37]:
pd.read_csv(f"{constants.SUBMISSION_DIR}/dummy_sub.csv").head()

       id      loss
0  250000  7.554404
1  250001  4.582201
2  250002  8.184320
3  250003  7.241274
4  250004  6.171326